.mat-code {
  display: inline-block;

  background: rgb(42, 66, 172);
  background: var(--mat-bg);
  color: var(--mat-fg);
  
  border-radius: 5px;
  padding: .025rem .5rem;
  margin: .15rem .1rem;

  &.req-text {
    background-color: rgb(70, 133, 252);
  }

  &.click-target:hover {
    --mat-bg: var(--mat-bg-hover);
  }

  &.coreq {
    --stripe-opacity: 30%;
    --stripe-width: 7px;
    --stripe-brightness: 85%;
    background-image:  repeating-linear-gradient(
      45deg,
      transparent,
      transparent var(--stripe-width),
      hsla(0, 0%, var(--stripe-brightness), var(--stripe-opacity)) var(--stripe-width),
      hsla(0, 0%, var(--stripe-brightness), var(--stripe-opacity)) calc(var(--stripe-width) * 2)
    ),;
  }
}