@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

* {
    box-sizing: border-box;
}

:root {
    --wallpaper: #dddddd;
    --background: #f3f3f3;
    --background1: #f7f7f7;
    --background2: #fff;
    --tableOdd: rgba(96, 96, 255, 0.1);
    --bgCuat: linear-gradient(90deg, transparent 0%, var(--tableOdd) 100%);
    --bgCuat-hover: rgba(96, 96, 255, 0.5);
    --frCuatHeader: rgba(0, 0, 128, 0.8);

    --background-taken: rgb(156, 247, 163);
    --background-taken-hover: rgb(7, 182, 22);
    --background-taken-odd: rgba(55, 253, 71, 0.2);
    --background-taken-even: rgba(55, 253, 71, 0.37);

    --background-oncourse: rgb(247, 230, 156);
    --background-oncourse-hover: rgb(182, 165, 7);
    --background-oncourse-odd: rgba(253, 207, 55, 0.25);
    --background-oncourse-even: rgba(253, 207, 55, 0.45);

    --background-selected: rgb(156, 206, 247);
    --background-selected-odd: rgba(55, 124, 253, 0.35);
    --background-selected-even: rgba(55, 124, 253, 0.45);
    --background-selected-taken-odd: rgba(55, 253, 71, 0.95);
    --background-selected-taken-even: rgba(55, 253, 71, 0.95);
    --background-selected-oncourse-odd: rgba(253, 207, 55, 0.95);
    --background-selected-oncourse-even: rgba(253, 207, 55, 0.95);

    --background-error: rgb(247, 156, 156);
    --background-prereq: rgb(167, 168, 255);
    --background-prereq-hover: rgb(106, 109, 253);
    --background-prereqextra: hsl(281, 100%, 86%);

    --background-btn-secondary: rgba(0, 0, 0, 0.05);
    --background-btn-secondary-hover: rgba(0, 0, 0, 0.15);

    --codigo-materia-border: rgba(0,0,0,0.1);
    --codigo-materia-bottom:  rgba(0,0,0,0.5);
    --codigo-materia-bottom-focus: var(--background-prereq-hover);

    --progress-bar-green: #bfffcd;
    --progress-bar-yellow: rgb(252, 239, 181);

    --br: 0.5em;
    --bs: inset 0 0 0 2px black;
    --card-bs: 0 0 10px 0px rgba(0, 0, 0, 0.2);

    --dark-theme-msg: "🌞      Cambiar a modo oscuro";
}

[data-theme="dark"] {
    color: white;
    --wallpaper: #1a1a1a;
    --background: #252525;
    --background1: #2e2e2e;
    --background2: #444;
    --bgCuat-hover: rgba(96, 96, 255, 0.5);
    --frCuatHeader: rgba(162, 162, 255, 0.8);

    --background-taken: hsl(125, 87%, 27%);
    --background-taken-hover: hsl(125, 93%, 37%);
    --background-taken-odd: rgba(55, 253, 71, 0.15);
    --background-taken-even: rgba(55, 253, 71, 0.3);

    --background-oncourse: hsl(49, 99%, 28%);
    --background-oncourse-hover: hsl(54, 85%, 38%);
    --background-oncourse-odd: hsla(46, 98%, 60%, 0.25);
    --background-oncourse-even: hsla(46, 98%, 60%, 0.45);

    --background-selected: hsl(207, 78%, 41%);
    --background-selected-odd: hsla(219, 98%, 60%, 0.35);
    --background-selected-even: hsla(219, 98%, 60%, 0.45);
    --background-selected-taken-odd: hsla(125, 98%, 30%, 0.95);
    --background-selected-taken-even: hsla(125, 98%, 30%, 0.95);
    --background-selected-oncourse-odd: hsla(46, 98%, 30%, 0.95);
    --background-selected-oncourse-even: hsla(46, 98%, 30%, 0.95);

    --background-error: rgb(122, 18, 18);
    --background-prereq: rgb(78, 80, 199);
    --background-prereq-hover: rgb(106, 109, 253);
    --background-prereqextra: hsl(281, 100%, 30%);

    --background-btn-secondary: rgba(255, 255, 255, 0.05);
    --background-btn-secondary-hover: rgba(255, 255, 255, 0.15);

    --codigo-materia-border: rgba(255,255,255,0.5);
    --codigo-materia-bottom:  rgba(255,255,255,0.5);

    --progress-bar-green: hsl(133, 100%, 30%);
    --progress-bar-yellow: hsl(49, 92%, 30%);

    --bs: inset 0 0 0 2px white;
    --card-bs: 0 0 10px 0px rgba(0, 0, 0, 0.2);
    
    --dark-theme-msg: "🌙      Cambiar a modo claro";
}

html {
    font-family: "Open Sans", sans-serif;
    scroll-behavior: smooth;
}

html,
body {
    min-height: 100vh
} /* For footer at bottom */

body {
    margin: auto;
    background: var(--wallpaper);

    /* For footer at bottom */
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto; /* For footer at bottom */

    margin: auto;
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    width: auto;
    width: min(60rem, 100%);
    width: fit-content;
    /* Doesnt work on firefox */
}

footer {
    flex-shrink: 0; /* For footer at bottom */

    width: 100%;
    text-align: center;
    padding: 2em 0 1em;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.3));
    font-size: small;
}
footer a {
    color: inherit;
}
.footer-version {
    opacity: 0.7;
}

p {
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-block-start: 0.6em;
    margin-block-end: 0.6em;
}

.col2 {
    display: grid;
    grid-template-columns: auto 1fr;
}

.col2.form hr {
    grid-column: span 2;
    width: 100%;
}

.span2 {
    grid-column: span 2;
}

.form label {
    margin-right: 1em;
}

.form input:disabled {
    color: inherit;
}

ol li {
    margin-bottom: 1em;
}

input {
    font-size: medium;
    padding: 0.2em 0.5em;
}

.red {
    color: red !important;
}

.alert-width {
    max-width: max(40em, 50%) !important;
}

.card {
    /* border       : 3px solid black; */
    margin: 0 1em 1em;
    padding: 1.5em;
    border-radius: 1em;
    background: var(--background);
    box-shadow: var(--card-bs);

    display: flex;
    flex-direction: column;
    align-items: center;
}

#pensumWrapper {
    flex-shrink: 0;
    min-height: 500px;
}

#codigoMateria {
    font-size: x-large;
    text-align: center;
    background-color: var(--wallpaper);
    color: inherit;

    border: 1px solid var(--codigo-materia-border);
    border-bottom: .2em solid var(--codigo-materia-bottom);
    transition: border ease .25s;
    box-shadow: var(--card-bs);
    margin: .2em;
}

#codigoMateria:focus {
    border-color: var(--codigo-materia-bottom-focus);
}

thead th {
    background: var(--background);
    position: sticky;
    top: 0;
    height: 2rem;
    box-shadow: 0 2px 0 0 black;
    z-index: 1;
    word-wrap: break-all;
}

table {
    border-collapse: collapse;
}

td {
    height: 2rem;
    padding: 0 0.2rem;
}

tr:nth-child(2n) td {
    background: var(--tableOdd);
}

.cuatLimit + tr td,
.cuatHeader {
    border-top: 1px solid black;
}

.cuatHeader {
    max-width: 2.5rem;
    background: var(--bgCuat);
    color: var(--frCuatHeader);
}

.cuatHeader:hover {
    box-shadow: var(--bs);
    background: var(--bgCuat-hover);
    cursor: pointer;
}

.cuatHeader p {
    margin: 0;
}

.text-center {
    text-align: center;
}

.vertical-text {
    writing-mode: vertical-lr;
}

.monospace {
    font-family: "Roboto Mono", monospace;
}

.note {
    font-style: italic;
}

.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.disabled,
.hidden {
    display: none;
}

@keyframes highlight {
    0% {
        background: #f825ff;
    }
    50% {
        background: #2534ff;
    }
    100% {
        background: #f825ff;
    }
}

.highlightRow td {
    color: white;
    animation: highlight 700ms ease infinite;
}

.codigo {
    cursor: pointer;
    margin: 0.3rem;
    text-decoration: underline;
}

.managementMode-cell:hover {
    box-shadow: var(--bs);
}

.dialogWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(1.2px);
}

.dialogCard {
    background: var(--background1);
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.3);

    min-width: 40%;
    max-width: 95%;
    max-height: 95%;
    overflow: auto;
}

.disabled {
    opacity: 0.4;
}

.btn-primary {
    display: block;
    padding: 0.3rem 0.5rem;
    margin: 0.2rem;
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: small;
    text-align: center;

    background: rgb(84, 86, 235);
    color: white;
    border: none;
    text-decoration: none;
}

.btn-primary:hover:not(.btn-disabled) {
    background: rgb(45, 47, 182);
    flex-grow: 2;
}

.btn-secondary {
    display: block;
    padding: 0.3rem 0.5rem;
    margin: 0.2rem;
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: small;
    text-align: center;

    flex-grow: 1;

    border: none;
    text-decoration: none;
    background: var(--background-btn-secondary);
    color: inherit;
    box-shadow: var(--bs);
}

.btn-secondary:hover:not(.btn-disabled) {
    background: var(--background-btn-secondary-hover);
}
.btn-disabled {
    opacity: 0.6;
}

.inline-btn-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.explanatory {
    font-style: italic;
    font-size: small;
    color: rgba(0, 0, 0, 0.6);
}

@media only screen and (max-width: 700px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: stretch;

        width: 100%;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        text-align: center;
    }

    .card {
        width: auto;

        padding: 1rem;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #pensumWrapper {
        padding: 3rem 0 1rem;
        margin-left: 0;
        margin-right: 0;
        font-size: 0.75rem;
    }
}

/* Interactivity */
.mat-clickable {
    min-width: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.mat-clickable::before {
    content: "⬜";
}
.managementMode-taken .mat-clickable::before {
    content: "✅";
}
.managementMode-oncourse .mat-clickable::before {
    content: "🔳";
}

.select-mode input {
    display: none;
}
.select-mode label {
    display: inline-block;
    padding: 0.5em;
    background: var(--wallpaper);
}
.select-mode label:hover {
    background: rgba(0, 0, 0, 0.2);
}
.select-mode label:first-of-type {
    border-radius: var(--br) 0 0 var(--br);
}
.select-mode label:last-of-type {
    border-radius: 0 var(--br) var(--br) 0;
}
.select-mode input:checked + label {
    font-weight: bolder;
    box-shadow: var(--bs);
}
.select-mode label:nth-of-type(1) {
    background: var(--background-taken-even);
}
.select-mode input:checked + label:nth-of-type(1) {
    background: var(--background-selected-taken-even);
}
.select-mode label:nth-of-type(2) {
    background: var(--background-oncourse-even);
}
.select-mode input:checked + label:nth-of-type(2) {
    background: var(--background-selected-oncourse-even);
}
.select-mode label:nth-of-type(3) {
    background: var(--tableOdd);
}
.select-mode input:checked + label:nth-of-type(3) {
    background: var(--background-selected-even);
}

.filter-mode label,
.select-mode label {
    cursor: pointer;
}

.filter-mode input {
    display: none;
}
.filter-mode label {
    display: inline-block;
    padding: 0.5em;
    background: var(--wallpaper);
}
.filter-mode label:hover {
    background: rgba(0, 0, 0, 0.2);
}
.filter-mode label:first-of-type {
    border-radius: var(--br) 0 0 var(--br);
}
.filter-mode label:last-of-type {
    border-radius: 0 var(--br) var(--br) 0;
}
.filter-mode input:checked + label {
    font-weight: bolder;
    box-shadow: var(--bs);
}
.filter-mode input:checked + label:nth-of-type(1) {
    background: var(--background-selected-even);
}
.filter-mode input:checked + label:nth-of-type(2) {
    background: var(--background-selected-oncourse-even);
}
.filter-mode input:checked + label:nth-of-type(3) {
    background: var(--background-selected-taken-even);
}

.filter-mode input:checked + label:hover,
.select-mode label:hover {
    filter: brightness(0.65);
}

tr.managementMode-taken td {
    /* tr is necessary, otherwise even cols would override this. */
    background: var(--background-taken-odd);
}

tr.managementMode-taken:nth-child(even) td {
    /* tr is necessary, otherwise even cols would override this. */
    background: var(--background-taken-even);
}

tr.managementMode-oncourse td {
    background: var(--background-oncourse-odd);
}

tr.managementMode-oncourse:nth-child(even) td {
    background: var(--background-oncourse-even);
}

tr.managementMode-selected {
    font-weight: bolder;
}
tr.managementMode-selected td {
    background: var(--background-selected-odd);
}
tr.managementMode-selected:nth-child(even) td {
    background: var(--background-selected-even);
}
tr.managementMode-selected.managementMode-taken td,
.preReq.managementMode-selected.managementMode-taken {
    background: var(--background-selected-taken-odd);
}
tr.managementMode-selected.managementMode-taken:nth-child(even) td {
    background: var(--background-selected-taken-even);
}
tr.managementMode-selected.managementMode-oncourse td,
.preReq.managementMode-selected.managementMode-oncourse {
    background: var(--background-selected-oncourse-odd);
}
tr.managementMode-selected.managementMode-oncourse:nth-child(even) td {
    background: var(--background-selected-oncourse-even);
}

.preReq {
    margin: 0.1em 0.05em;
    padding: 0.1em 0.5em 0.2em;
    border-radius: 0.3em;
    background: var(--background-prereq);
    cursor: pointer;
    display: inline-block;
}

.preReq:hover {
    background: var(--background-prereq-hover);
}

.preReqExtra,
.preReqExtra:hover {
    background: var(--background-prereqextra);
    cursor: default;
}

.preReq.managementMode-taken {
    background: var(--background-taken);
}
.preReq.managementMode-taken:hover {
    background: var(--background-taken-hover);
}
.preReq.managementMode-oncourse {
    background: var(--background-oncourse);
}
.preReq.managementMode-oncourse:hover {
    background: var(--background-oncourse-hover);
}
.preReq.managementMode-selected {
    box-shadow: inset 0 0 0 2px black;
}
.preReq.managementMode-selected {
    box-shadow: inset 0 0 0 2px black;
}
.preReq.managementMode-error {
    background: var(--background-error);
}

.preReqList .preReq {
    display: block;
}

/* ProgressWrapper */
#progressWrapper:empty {
    display: none;
}

#toolboxWrapper {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
}
#toolboxWrapper > div {
    margin: 0.5em;
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#selectedWrapper {
    border: 2px solid black;
    width: 100%;
}
#selectedWrapper table {
    width: 100%;
}
#selectedWrapper td:first-child {
    text-align: right;
    width: 50%;
}
#selectedWrapper td:last-child {
    min-width: 1em;
    padding-left: 1em;
}

.mat-clickable {
    width: 100%;
    height: 100%;
}

/* Dropdown */
.dropdown-wrapper {
    user-select: none;
    position: relative;
    display: inline-block;
}
.dropdown-wrapper > .dropdown-text {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 0.5em;
    cursor: pointer;
}
.dropdown-wrapper > .dropdown-ul {
    position: absolute;
    z-index: 1000;
    top: 100%;
    right: 0;

    display: none;
    cursor: pointer;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.5);
    border-radius: var(--br);
}
.dropdown-ul > li:first-child {
    border-top-left-radius: var(--br);
    border-top-right-radius: var(--br);
}
.dropdown-ul > li:last-child {
    border-bottom-left-radius: var(--br);
    border-bottom-right-radius: var(--br);
}
.dropdown-wrapper:hover > .dropdown-ul {
    display: flex;
    min-width: 200px;
}
.dropdown-ul > li {
    padding: 0.2em 0.5em;
    background: var(--background1);
}
.dropdown-ul > li:hover {
    background: var(--wallpaper);
}
.dropdown-ul > li:active {
    background: var(--background-selected);
}

/* ORG CHART STUFF */
div.bp-head {
    color: black;
    font-size: medium;
    white-space: pre-wrap;
    text-align: center;
}

.bp-item {
    overflow: visible !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 0 0 rgba(0, 0, 0, 0.3);
}

.bp-txt {
    color: black;
}

.bp-cred {
    position: absolute;
    top: -10px;
    right: -7px;
    z-index: 99999;

    width: 37px;
    height: 37px;
    border-radius: 50% 50%;
    box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.3);
    text-align: center;
    font-size: 2em;
    font-family: monospace;

    background: red;
    color: white;
    padding-top: 3px;
}

.bp-cred[value="0"] {
    background: rgb(126, 5, 156);
}

.bp-cred[value="1"] {
    color: black;
    background: rgb(221, 255, 143);
}

.bp-cred[value="2"] {
    color: black;
    background: rgb(255, 195, 105);
}

.bp-cred[value="3"] {
    background: rgb(241, 87, 40);
}

@keyframes highlight-bp {
    0% {
        border-color: var(--c1);
        background: var(--c1);
    }
    50% {
        border-color: var(--c2);
        background: var(--c2);
    }
    100% {
        border-color: var(--c1);
        background: var(--c1);
    }
}
.bp-cursor-frame {
    --c1: #f825ff;
    --c2: #2534ff;
    animation: highlight-bp 700ms ease 10;
}

.help-btn {
    border-radius: 1000px;
    background-color: darkblue;
    color: white;
    width: 1.2em;
    height: 1.2em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.5em;
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.7);
}

.help-btn:hover {
    transform: scale(1.2);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

.hidden {
    display: none;
}

.inline-block {
    display: inline-block;
}

#advanced-wrapper {
    margin: auto;
    min-width: 20em;
    max-width: 30em;
    border-radius: var(--br);
    padding: .5em;
    border: 1px solid var(--codigo-materia-border);
}

#checkbox_theme {
    display: none;
}

#theme-switch {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(80%,0);
    transition: transform ease 200ms;
}
#theme-switch:hover {
    transform: translate(0,0);
}

#theme-switch::before, 
#theme-swith::after {
    content: var(--dark-theme-msg);
    overflow: hidden;
    position: relative;
    white-space: pre;

    text-shadow: 0 0 5px rgba(0,0,0,0.2);
    display: block;
    padding: .5em 1em .2em 1.2em;
    background-color: var(--background2);
    height: 2em;
    width: 14em;
    border-bottom-left-radius: 2em;
    box-shadow: var(--card-bs);
}

#theme-switch-container {
    position: sticky;
    top: 0;
    right: 0;
    width: 100%;
    height: 3em;
    z-index: 100;
}

.theme-switching * {
    transition: background 1000ms ease;
}

body {
    overflow-x: hidden;
}

.awesomplete > ul,
.awesomplete > ul::before {
    background: var(--background2);
    border-color: var(--codigo-materia-border);
}

body:not(.DESIGN-MODE) .DESIGN-MODE {
    display: none;
}
