.mat-code {
  display: inline-block;

  background: rgb(42, 66, 172);
  background: var(--mat-bg);
  color: var(--mat-fg);
  
  border-radius: 5px;
  padding: 0 .5rem;
  margin: .1rem;

  &.req-text {
    background-color: rgb(70, 133, 252);
  }
}