.pensum-table-container .card-title{
  margin: 1rem 0;
}



.row-period {
  --bg-even: rgba(var(--bs-body-color-rgb), 0.1);
}

.even {
  background: var(--bg-even);
}

.row-period.row {
  --border-color: rgba(var(--bs-body-color-rgb), 0.5);
  border-top: 1.5px solid var(--border-color);
}

.row-period-num {
  width: 2rem;
  flex: 0 0 auto;
  display: flex;

  background: linear-gradient(90deg, transparent 0%, var(--bg-even) 100%);

  align-items: center;
  justify-content: center;

  &:hover {
    background: var(--bs-primary);
    color: white;
    cursor: pointer;
  }
}

.pensum-header {
  background: rgba(var(--bs-body-bg-rgb),1);
  border-bottom: 2px solid rgba(var(--bs-body-color-rgb),1);
  border-top: none !important;
  
  position: sticky;
  top: -2px;

  font-weight: bold;

  .row-period-num {
    background: inherit;
    &:hover {
      background: inherit;
    }
  }
}



.row-code,
.row-name,
.row-cr {
  flex: 0 0 auto;       // No growth/shrink

  display    : flex;
  align-items: center;  // Center vertically

  padding-left : 0;
  padding-right: 0;
}

.row-code {
  justify-content: center; // Center horizontally
  width: 100px;
  padding: .1rem 0; // IMPORTANT: PADDING FOR THE ENTIRE ROW DEPENDS ON THIS!
}

.row-cr {
  width: 25px;
}

.row-req {
  flex: 1 3;

  display    : flex;
  align-items: center;  // Center vertically
  flex-wrap  : wrap;    // Wrap instead of going to next line
}

.row-name {
  width: 65%; // Manually fine-tuned to be perfect <3
}
@media screen and (max-width: 475px) {
  .row-req {
    flex: 0 0 auto; // Block shrink. It will automatically go to the bottom.
  }
  .row-name {
    flex: 1 0 auto; // Allow growth to the max!
  }
}




/** Override for 
@media (min-width: 576px)
.container-sm, .container {
    max-width: 540px;
}
*/
.pensum-table {
  max-width: inherit;
}

// Remove spacing on small devices
@media screen and (max-width: 750px) {

  .pensum-table-container {
    padding-left : 0;
    padding-right: 0;
  }

  .pensum-table-container .card-title {
    padding: .75rem;
  }
}


// Align headers to bottom
.pensum-header {
  .col, .row {
    align-items: end;
  }
}

// Don't break the CR header on small displays
.row-cr {
  white-space: nowrap;
}
