.pensum-progress-container {
  div {
    position : relative;
  }

  .progress {
    position : absolute;
    inset    : 0; // same as top/right/bottom/left
    height   : 100%;

    border-radius : inherit;
    background    : transparent;

    opacity : 0.7;
  }

  .card-body {
    min-height: 128px;
  }

  .pensum-progress-value {
    white-space: nowrap;
    .extra {
      color: var(--mat-fg-color);
      font-style: italic;

      // Transistion height on extra appearing!
      transition: max-height 700ms, height 700ms;
      max-height: 3em;
      &:empty {
        max-height: .5em;
        height: .5em;
      }
    }
    
  }

}