body.color-scheme-light {
  background: #e4e4e4;
}

body.color-scheme-dark {
  background: #171717;
}

.App {
  width: calc(min(100%, 1000px));
  transition: padding 100ms ease;
  
  padding-top: 4.25rem;
}

@media screen and (max-width: 750px) {
  .App,
  .pensum-table-container .card-body {
    padding-left: 0;
    padding-right: 0;
  }
}

.card {
  border-radius: 1rem;
  margin-bottom: .75rem;
  border: none;
  
}

.card-header,
.card-header:first-child {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

footer {
  display: flex;
  flex-direction: column;
}

/** Navbar scroll */
.App-header {
  transition: top 200ms ease;
  color: white;

  // Fix not being colored on darkmode.
  background-color: rgba(var(--bs-primary-rgb), 1) !important;
}

/* More standard stuff. */
.click-target {
  cursor: pointer;
  
  // Disable selection
  // The user may inadvertently select while clicking to track the entire period.
  user-select: none;
}