* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:
    'Open Sans',
    -apple-system,
    BlinkMacSystemFont,
    'Roboto',
    'Segoe UI',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code,
.code {
  font-family: 'Roboto Mono', source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Sticky footer :D */
html,
body,
#root {
  /* Minimun height! */
  height: 100%;
}

#root > footer {
  /* Forces the footer to 'recoil back' to the bottom of the window. */
  position: sticky;
  top: 100vh;
}
